h1 {
  margin: 10 auto;
  text-align: center;
}

button {
  display: block;
  margin: 0 auto;
}

p {
  display: block;
  float: left;
  position: relative;
  left: 40%;
  padding: 10px;
}

div {
  float:left;
  position: relative;
  left: 40%;
  color: red;
}



img.playerCard {
  width: 200px;
  position: fixed;
  left: 15px;

}

img.compCard {
  width: 200px;
  position: fixed;
  right: 15px;
}*/
