body {
  background: url('wood.jpg') no-repeat center center fixed;
}

h1 {
  font-family: "PT Sans", sans-serif;
  margin: 10 auto;
  text-align: center;
  color: white;
}

button {
  display: block;
  margin: 0 auto;
}

p {
  font-family: "PT Sans", sans-serif;
  color: white;
  font-size: 20px;
  display: block;
  float: left;
  position: relative;
  left: 38%;
  padding: 10px;
}

.gameOver {
  float:left;
  position: relative;
  left: 40%;
  color: red;
}



img.playerCard {
  width: 200px;
  position: fixed;
  left: 20px;

}

img.compCard {
  width: 200px;
  position: fixed;
  right: 20px;
}

span {
  background-color: red;
}
