body {
  background: url('wood.jpg') no-repeat center center fixed;
  color: white;
  font-family: "PT Sans", sans-serif;
}

h1 {
  margin: 0 auto;
  text-align: center;
}

button {
  display: block;
  margin: 0 auto;
}

p {
  font-size: 20px;
  display: block;
  float: left;
  position: relative;
  left: 38%;
  padding: 10px;
}

div.gameOver {
  position: fixed;
  top: 200px;
  left: 400px;
  color: #72E405;
  font-size: 22px;
}

img.playerCard {
  width: 200px;
  position: fixed;
  left: 20px;
}

img.compCard {
  width: 200px;
  position: fixed;
  right: 20px;
}

h2 {
  position: fixed;
  left: 45%;
  bottom: 12%;
  padding-bottom: 10px;
  text-align: center;
}

article {
  position: fixed;
  font-size: 14px;
  bottom: 5%;
  left: 5%;
  right: 5%;
  padding-top: 10px;
}
